$photoWidth: 100%;
$photoHeight: 100%;

body {
  width: 100vw;
  height: 100vh;
}

#title {
  text-align: center;
  margin-bottom: 50px;
}

.select-gallery {
  img {
    width: $photoWidth;
    height: $photoHeight;
  }
}

.photo-wrap {
  border: 2px solid rgba(0,0,0,0);
  box-shadow: 3px 3px 1px #333;
  padding: 0;

  img {
    width: $photoWidth;
    height: $photoHeight;
  }

  .overlay {
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    position: absolute;
    transition: all ease-in-out 0.2s;
  }

  .overlay:hover {
    opacity: 0;
  }
}

.photo-wrap:hover {
  background-color: none;
}

.photo-container {
  background: linear-gradient(#e66465, #9198e5);
  padding: 20px 50px;
}

@media(min-width: 1200px) {
  * {
    font-size: 18px;
  }

  .photo-container {
    background: linear-gradient(#9198e5, #e66465);
  }
}

@media(max-width: 1200px) {
  * {
    font-size: 16px;
  }

  .card-img-overlay {
    &:hover {
      .gallery-title {
        font-size: 36px !important;
      }
    }
  }
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  .container {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.gallery-wrap {
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.card-img-overlay {
  padding: 0;
  background: rgba(112,66,20,0.7);
  transition: all ease 0.5s;

  .gallery-title {
    color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transition: all ease 0.5s;
  }

  &:hover {
    background: rgba(255,255,255,0.2);
    cursor: pointer;

    .gallery-title {
      color: rgb(8, 30, 154);
      text-shadow: 1px 1px white;
      font-weight: 900;
      font-size: 48px;
      top: 45%;
    }
  }
}

